<!doctype html>
<html>

<head>
<title>The Emoji Problem</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/style.css">
</head>

<body>


<div class="container">
  <h2>Welcome admin!</h2>
  <p>Your flag is {{flag}}</p>
</div>

 <div class="logo" style="background: url(../static/emoji3.png) no-repeat center center; height: 500px" onclick="location.href='/'">
 </div>

</body>

</html>
